.navbar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;

  background: linear-gradient(
    to right,
    #020202,
    #050505
  );

  border-bottom: 2px solid #00ff88;
  box-shadow: 0 0 16px rgba(0,255,136,0.4);
}

.navbar a {
  font-family: "Share Tech Mono", monospace;
  color: #00ff88;
  text-decoration: none;
  margin-left: 24px;
}

.navbar a:hover {
  text-shadow: 0 0 8px #00ff88;
}
