.panel {
  background: linear-gradient(180deg, #4c1d95, #2e1065);
  border-radius: 14px;
  padding: 24px;

  border: 3px solid #a855f7;
  box-shadow:
    0 0 0 3px #7c3aed,
    0 0 25px rgba(168, 85, 247, 0.35);

  margin-bottom: 32px;
}


