.professional {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 4rem;
  font-family: "JetBrains Mono", "Courier New", monospace;
}
.professional::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  z-index: -1;
}

.terminal {
  width: 100%;
  max-width: 720px;
  padding: 2.5rem;
  background-color: #000;
  border-radius: 14px;

  /* optional outer glow only */
  box-shadow: 0 0 40px rgba(0, 255, 120, 0.15);

  color: #7CFF9E;
}

/* PROMPT LINE */
.terminal-line {
  color: #6BFF8D;
  margin-bottom: 0.4rem;
}

.prompt {
  color: #22ff77;
  margin-right: 0.5rem;
}

/* OUTPUT */
.terminal-output {
  margin-bottom: 1.2rem;
  padding-left: 1.2rem;
  color: #A7FFC4;
}

/* NAME SPECIAL STYLE */
.name {
  font-size: 2.2rem;
  font-weight: 700;
  color: #E6FFF1;
  text-shadow:
    0 0 8px rgba(0, 255, 119, 0.297),
    0 0 18px rgba(0, 255, 120, 0.4);
}

/* LINKS */
.terminal-output a {
  color: #6bc6ff;
  text-decoration: none;
}

.terminal-output a:hover {
  text-decoration: underline;
}

/* BLINKING CURSOR */
.cursor {
  margin-top: 0.5rem;
  color: #22ff77;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}